<section class="section-background-light">
    <div class="container-fluid">
        <div class="row contribute-section">
            <div class="col-sm-12 center-text">
                <h1>Er du en pårørende som tilbringer for lite tid med din eldre?</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 center-text">
                <button style="margin-left:15%; margin-right:15%" class="btn btn-outline-light button-interested btn-lg">Jeg behøver avlastning!</button>
            </div>
        </div>
        <div class="row read-more-margins">
            <div class="col-sm-12 center-text">
                <button (click)="readMoreClicked()" class="btn btn-outline-light button-interested btn-sm">Les mer</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <img src="../../assets/img/man-relax-couch-study.jpg" class="img-fluid" alt="Responsive image">
            </div>
        </div>
    </div>
</section>