<div class="container">
    <h1>Subscribe Form</h1>
    <form (ngSubmit)="onSubmit()" #subscribeForm="ngForm">
      
      <div class="form-group">
        <label for="email">Email</label>
        <input [(ngModel)]="subscriberEmail" name="email" type="text" class="form-control" id="email" required>
      </div>
      
      <div class="interested">
        <button type="submit" class="btn btn-outline-light button-interested">Gi meg beskjed!</button>
      </div>
 
    </form>
    <!--<pre>Email: {{subscriberEmail}}</pre>-->
</div>

