<div class="container" style="background-color: white">
        <div class="row contribute-section">
            <div class="col-sm-12 center-text">
                <h1>Er du en pårørende som tilbringer for lite tid med din eldre?</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 center-text">
                <button style="margin-left:15%; margin-right:15%" class="btn btn-outline-light button-interested btn-lg">Jeg behøver avlastning!</button>
            </div>
        </div>
        <div class="row read-more-margins">
            <div class="col-sm-12 center-text">
                <button class="btn btn-outline-light button-interested btn-sm">Les mer</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <img src="../../assets/img/man-relax-couch-study.jpg" class="img-fluid" alt="Responsive image">
            </div>
        </div>
        
        <div class="solution-section">

            <div class="row read-more-margins">
                <div class="col-sm-12 center-text">
                    <h2>Funksjoner(ett ord)</h2>
                </div>
            </div>

            <div class="row read-more-margins">
                <div class="col-sm-12 center-text">
                    <h4>Setning som forteller leseren hva vi tilbyr</h4>
                </div>
            </div>

            <div class="row read-more-margins">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-4">
                            <img src="../../assets/img/ipad.png" class="img-fluid" alt="Responsive image">
                        </div>
                        <div class="col-sm-8">
                            <p>Linje 1 som introduserer funksjonalitet</p>
                            <p>En nærmere forklaring på funksjonaliteten</p>
                            <p>For å lese mer</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-4">
                            <img src="../../assets/img/ipad.png" class="img-fluid" alt="Responsive image">
                        </div>
                        <div class="col-sm-8">
                            <p>Linje 1 som introduserer funksjonalitet</p>
                            <p>En nærmere forklaring på funksjonaliteten</p>
                            <p>For å lese mer</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row read-more-margins">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-4">
                            <img src="../../assets/img/ipad.png" class="img-fluid" alt="Responsive image">
                        </div>
                        <div class="col-sm-8">
                            <p>Linje 1 som introduserer funksjonalitet</p>
                            <p>En nærmere forklaring på funksjonaliteten</p>
                            <p>For å lese mer</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-4">
                            <img src="../../assets/img/ipad.png" class="img-fluid" alt="Responsive image">
                        </div>
                        <div class="col-sm-8">
                            <p>Linje 1 som introduserer funksjonalitet</p>
                            <p>En nærmere forklaring på funksjonaliteten</p>
                            <p>For å lese mer</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="about-section">
            <div class="row">
                <div class="col-sm-12 center-text">
                    <h1>Om teamet</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <h4>Stikkord</h4>
                    <p>Masse tekst som beskriver den første kjerneverdien. Dette kan fort bli veldig langt. så vi får se</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <h4>Stikkord</h4>
                    <p>Masse tekst som beskriver den andre kjerneverdien</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <h4>Stikkord</h4>
                    <p>Masse tekst som beskriver den tredje kjerneverdien</p>
                </div>
            </div>
        </div>

    <div class="row user-profiles-title">
    <div class="col-sm-12 center-text">
      <h1>Vårt team</h1>
    </div>
  </div>
  <div class="row user-profiles">
    <div class="col-sm-4">
      <div class="user-profile center-text">
        <img class="rounded-circle" src="../../assets/img/jens.jpg">
        <h4>Jens Aarre Seip</h4>
        <p class="font-italic">COO</p>
        <p class="font-italic">Liten tekst som forteller noe om personen</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="user-profile center-text">
        <img class="rounded-circle" src="../../assets/img/vilde.jpg">
        <h4>Vilde Thorud</h4>
        <p class="font-italic">CEO</p>
        <p class="font-italic">Liten tekst som forteller noe om personen</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="user-profile center-text">
        <img class="rounded-circle" src="../../assets/img/frikk.jpg">
        <h4>Frikk Fossan</h4>
        <p class="font-italic">Utvikler</p>
        <p class="font-italic">Liten tekst som forteller noe om personen</p>
      </div>
    </div>
  </div>

  <div class="contact-section">
    <div class="row read-more-margins">
        <div class="col-sm-12 center-text">
            <h1>Kontakt oss</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <form (ngSubmit)="onSubmit()" #subscribeForm="ngForm">
                
                <div class="form-group">
                    <input  placeholder="navn" name="email" type="text" class="form-control" id="name" required>
                </div>
                <div class="form-group">
                    <input  placeholder="epost" name="email" type="text" class="form-control" id="email" required>
                </div>
                <div class="form-group">
                     <textarea class="form-control" placeholder="melding" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-outline-light button-interested">Send inn</button>
            </form>
        </div>
        <div class="col-sm-4">
            <h6>Adresse</h6>
            <p class="font-italic">Kongens gate 1</p>
            <h6>Tlf</h6>
            <p class="font-italic">+4791930256</p>
            <h6>Epost</h6>
            <p class="font-italic">example@gmail.com</p>
        </div>
    </div>
  </div>
</div>
