<section class="section-background-dark">
    <div class="container-fluid">
      <div class="row team-height user-profiles-title">
          <div class="col-sm-12 center-text">
            <h1>Vårt team</h1>
          </div>
        </div>
        <div class="row user-profiles">
          <div class="col-sm-4">
            <div class="user-profile center-text">
              <img class="rounded-circle" src="../../assets/img/jens.jpg">
              <h4>Jens Aarre Seip</h4>
              <p class="font-italic">COO</p>
              <p class="font-italic">Liten tekst som forteller noe om personen</p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="user-profile center-text">
              <img class="rounded-circle" src="../../assets/img/vilde.jpg">
              <h4>Vilde Thorud</h4>
              <p class="font-italic">CEO</p>
              <p class="font-italic">Liten tekst som forteller noe om personen</p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="user-profile center-text">
              <img class="rounded-circle" src="../../assets/img/frikk.jpg">
              <h4>Frikk Fossan</h4>
              <p class="font-italic">Utvikler</p>
              <p class="font-italic">Liten tekst som forteller noe om personen</p>
            </div>
          </div>
        </div>
    </div>
</section>