<div class="container">
  <div class="row">
    <div class="col-sm-12 user-profiles-title center-text">
      <h1>Kjerneverdier</h1>
    </div>
  </div>
  <div class="row user-profiles-title">
    <div class="col-sm-12">
      <h3>Hva vi tror på</h3>
      <p >Vi tror på en sosial hverdag for de mange eldre som har mistet sine nærmeste, eller deres pårørende som ikke finner tid i hverdagen til besøk.</p>
    </div>
  </div>
  <div class="row user-profiles-title">
    <div class="col-sm-12 center-text">
      <h1>Vårt team</h1>
    </div>
  </div>
  <div class="row user-profiles">
    <div class="col-sm-4">
      <div class="user-profile center-text">
        <img src="../../assets/img/jens.jpg">
        <h4>Jens Aarre Seip</h4>
        <p>COO</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="user-profile center-text">
        <img src="../../assets/img/vilde.jpg">
        <h4>Vilde Thorud</h4>
        <p>CEO</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="user-profile center-text">
        <img src="../../assets/img/frikk.jpg">
        <h4>Frikk Fossan</h4>
        <p>Utvikler</p>
      </div>
    </div>
  </div>
</div>