<section class="section-background-light">
    <div class="container-fluid">

        <div class="about-section">
            <div class="row">
                <div class="col-sm-12 center-text">
                    <h1>Om teamet</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <h4>Stikkord</h4>
                    <p>Masse tekst som beskriver den første kjerneverdien. Dette kan fort bli veldig langt. så vi får se</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <h4>Stikkord</h4>
                    <p>Masse tekst som beskriver den andre kjerneverdien</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <h4>Stikkord</h4>
                    <p>Masse tekst som beskriver den tredje kjerneverdien</p>
                </div>
            </div>
        </div>
    </div>
</section>