<section class="section-background-dark">
    <div class="container-fluid">
        <div class="contact-section">
            <div class="row read-more-margins">
                <div class="col-sm-12 center-text">
                    <h1>Kontakt oss</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="row">
                        <div class="col-sm-8">
                            <form (ngSubmit)="onSubmit()" #subscribeForm="ngForm">
                                
                                <div class="form-group">
                                    <input  placeholder="navn" name="name" type="text" class="form-control" id="name" required>
                                </div>
                                <div class="form-group">
                                    <input  placeholder="epostadresse" name="email" type="text" class="form-control" id="email" required>
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="beskjed" id="exampleFormControlTextarea1" rows="3"></textarea>
                                </div>
                                <button type="submit" class="btn btn-outline-light button-blue">Send inn</button>
                            </form>
                        </div>
                        <div class="col-sm-4">
                            <h6>Adresse</h6>
                            <p class="font-italic">Sarpsborggata 16, 0468 OSLO</p>
                            <h6>Tlf</h6>
                            <p class="font-italic">+47 959 47 653</p>
                            <h6>Epost</h6>
                            <p class="font-italic">icare.hei@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>